body {
    padding-top: 3.5rem;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* CUSTOMIZING THE JUMBOTRON*/
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  margin-top: 5px;
  background-color: #fff;
  background-image: url("../img/mother.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.jumbotron-heading {
  font-weight: 300;
  color: black;
}

.jumbotron .container {
  max-width: 40rem;
  background: rgba(12, 9, 202, 0.52);
  padding: 2rem;
  color: white;
}

.jumbo-p{
    color: rgba(223, 15, 15, 0.664);
    text-shadow: 0 0 10px rgba(8, 8, 8, 0.822);
}
/*CUSTOMIZING THE GRID*/
.grid{
    background-color: aliceblue;
    margin-top: 2px;  
}
.col-1 {
    background-color: rgb(129, 110, 160);
}
.col-2 {
    background-color: aquamarine;
}
.col-3 {
    background-color: rgb(243, 214, 152);
}

  /* CUSTOMIZING THE CAROUSEL
-------------------------------------------------- */

.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }  
  /*pushing the modal button to center*/
  #map-canvas {
    height:480px;
    width: 500px;
  }
  
  #teste {
    width: 500px;
    height: 500px;
  }
  .footer{
  background-color: azure;
  }
  
